{% load application___security %}
{% load i18n %}
{% load staticfiles %}

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" action="{% url "administration:modules:administration_software:requested:detail" pk=ctx___form.instance.pk %}" class="LINK___modal___action_detail">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-default close LINK___modal___action_close" data-dismiss="modal" aria-label="{% trans "ADMINISTRATION___CONTENT___ACTION_CLOSE" %}" title="{% trans "ADMINISTRATION___CONTENT___ACTION_CLOSE" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% trans "ADMINISTRATION___CONTENT___ACTION_DETAIL" %} <strong>&OpenCurlyDoubleQuote;{% trans "ADMINISTRATION___CONTENT___HPC___Software_requested" %}&CloseCurlyDoubleQuote;</strong></h4>
            </div>
            <div class="modal-body">
                <!-- Modal Menssage -->
                <div class="modal___message">
                </div>
                <!-- Modal Table -->
                <div class="table-responsive modal___table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>{% trans "ADMINISTRATION___CONTENT___OPTION_ATTRIBUTE" %}</th>
                            <th>{% trans "ADMINISTRATION___CONTENT___OPTION_VALUE" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th><span class="{{ ctx___form.software.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.software.field.label }}</td>
                            <td>{{ ctx___form.instance.software }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.website.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.website.field.label }}</td>
                            <td>{{ ctx___form.instance.website }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.version.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.version.field.label }}</td>
                            <td>{{ ctx___form.instance.version }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.type.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.type.field.label }}</td>
                            <td>{{ ctx___form.instance.type }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.installation_guide.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.installation_guide.field.label }}</td>
                            <td>{{ ctx___form.instance.installation_guide }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.motivation.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.motivation.field.label }}</td>
                            <td>{{ ctx___form.instance.motivation }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.account.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.account.field.label }}</td>
                            <td>{{ ctx___form.instance.account }}</td>
                        </tr>
                        <tr>
                            <th><span class="{{ ctx___form.requested.field.widget.attrs.icon }}" aria-hidden="true"></span></th>
                            <td>{{ ctx___form.requested.field.label }}</td>
                            <td>{{ ctx___form.instance.requested }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default pull-left LINK___modal___action_refresh" data-url="{% url "administration:modules:administration_software:requested:detail" pk=ctx___form.instance.pk %}" title="{% trans "ADMINISTRATION___CONTENT___ACTION_REFRESH" %}">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "ADMINISTRATION___CONTENT___ACTION_REFRESH" %}</span>
                </a>
                <button type="button" class="btn btn-sm btn-default pull-left LINK___modal___action_close" data-dismiss="modal" title="{% trans "ADMINISTRATION___CONTENT___ACTION_CLOSE" %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hidden-xs"> {% trans "ADMINISTRATION___CONTENT___ACTION_CLOSE" %}</span>
                </button>
                {% if request|security_user_has_permission:"application_hpc_softwarerequested_update" %}
                    <a class="btn btn-sm btn-default LINK___modal___reload" data-url="{% url "administration:modules:administration_software:requested:update" pk=ctx___form.instance.pk %}" title="{% trans "ADMINISTRATION___CONTENT___ACTION_UPDATE" %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="hidden-xs"> {% trans "ADMINISTRATION___CONTENT___ACTION_UPDATE" %}</span>
                    </a>
                {% endif %}
                {% if request|security_user_has_permission:"application_hpc_softwarerequested_delete" %}
                    <a class="btn btn-sm btn-default LINK___modal___reload" data-url="{% url "administration:modules:administration_software:requested:delete" pk=ctx___form.instance.pk %}" title="{% trans "ADMINISTRATION___CONTENT___ACTION_DELETE" %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="hidden-xs"> {% trans "ADMINISTRATION___CONTENT___ACTION_DELETE" %}</span>
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
</div>