@media (min-width: 992px) {
    #application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child span.dtr-title,
    #application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 70%;
        width: 70%;
    }
    #application___hpc___content #datatable-jobs_wrapper > .dt-buttons {
        display: block;
        margin: auto;
        width: 200px
    }
    #application___hpc___content #job-codes-info {
        padding-left: 0;
    }
}
@media (max-width: 991px) {
    #application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child span.dtr-title,
    #application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child span.dtr-data {
        display: block;
        min-width: 100%;
        width: 100%
    }
    #application___hpc___content #datatable-jobs_wrapper > .dt-buttons {
        display: none
    }
    #application___hpc___content #job-codes-info {
        padding: 0;
    }
}

@media (max-width: 767px) {
    #application___hpc___content #datatable-jobs_wrapper > .dataTables_length > label {
        display: none
    }
}

#application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child ul {
    min-width: 100%;
    width: 100%
}
#application___hpc___content #datatable-jobs_wrapper > table.dataTable>tbody>tr.child>td:first-child  {
    padding-left: 5px;
}
#application___hpc___content #datatable-jobs_wrapper > .dataTables_paginate>.pagination>li>a {
    background-color: #ffffff;
    border-color: #d9dee4;
    color: #2a3f54;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}
#application___hpc___content #datatable-jobs_wrapper > .dataTables_paginate >.pagination>li>a:hover {
    background-color: #ededed;
}
#application___hpc___content #datatable-jobs_wrapper > .dataTables_paginate>.pagination>li.active>a {
    background-color: #2a3f54;
    border-color: #2a3f54;
    color: #ffffff
}
#application___hpc___content #datatable-jobs_wrapper > table.dataTable span[data-background-color]{
    border-radius: 3px;
    padding: 5px;
}

#application___hpc___content #job-codes-info .panel:nth-child(2){
    margin-bottom: 0;
}
#application___hpc___content #job-codes-info .panel > .panel-body {
    overflow-x: auto
}
#application___hpc___content #job-codes-info .panel:nth-child(1) > .panel-body > table > tbody > tr > td:nth-child(3) {
    min-width: 280px
}
#application___hpc___content #job-codes-info .panel:nth-child(2) > .panel-body > table > tbody > tr > td:nth-child(2) {
    min-width: 280px;
}

[data-background-color] {
    color: #FFFFFF;
}
[data-background-color="darker"] {
    background: linear-gradient(60deg, #2a3f54, #2a0f34) !important;
}
[data-box-shadow="darker"] {
    box-shadow: 0 12px 20px -10px rgba(13, 31, 110, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(13, 31, 110, 0.2) !important;
}
[data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047) !important;
}
[data-box-shadow="green"] {
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2) !important;
}
[data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
}
[data-box-shadow="orange"] {
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2) !important;
}
[data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935) !important;
}
[data-box-shadow="red"] {
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2) !important;
}
[data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa) !important;
}
[data-box-shadow="purple"] {
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2) !important;
}
[data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1) !important;
}
[data-box-shadow="blue"] {
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2) !important;
}
