#application___hpc___content #nodes___content {
    padding: 0;
}

@media (max-width: 767px) {
    #application___hpc___content #nodes___datatable_wrapper > .dataTables_length > label {
        display: none
    }
}

#application___hpc___content #nodes___datatable_wrapper > .dataTables_paginate>.pagination>li>a {
    background-color: #ffffff;
    border-color: #d9dee4;
    color: #2a3f54;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

#application___hpc___content #nodes___datatable_wrapper > .dataTables_paginate >.pagination>li>a:hover {
    background-color: #ededed;
}

#application___hpc___content #nodes___datatable_wrapper > .dataTables_paginate>.pagination>li.active>a {
    background-color: #2a3f54;
    border-color: #2a3f54;
    color: #ffffff
}

#application___hpc___content #nodes___content #nodes___summary h4{
    padding: 0 0 5px 10px;
    margin: 0 15px;
    border-bottom: 1px solid #d9dee4;
}

@media (max-width: 767px) {
    #application___hpc___content #nodes___content #nodes___summary h4 {
        padding: 0 0 5px 10px;
        margin: 0;
        border-bottom: 1px solid #d9dee4;
    }
}