{% load application___security %}
{% load i18n %}

<h3 id="center___header">
    <span class="fa fa-list-ol fa-fw" aria-hidden="true"></span> {% trans "ADMINISTRATION___CONTENT___HPC___Software_installed" %}
    <a class="btn btn-sm btn-default pull-right LINK___content___center___content___table___tbody___action_refresh" data-url="{% url "administration:modules:administration_software:installed:list" %}{% if ctx___page.number %}?page={{ ctx___page.number }}{% endif %}" title="{% trans "ADMINISTRATION___CONTENT___ACTION_REFRESH" %}" role="button">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span><span class="hidden-xs"> {% trans "ADMINISTRATION___CONTENT___ACTION_REFRESH" %}</span>
    </a>
</h3>
<div id="center___content">
    <!-- Application Content Center Content Table -->
    <div id="content___table" class="table-responsive">
        <table class="table table-hover dataTable">
            <thead>
            <tr>
                <th width="30px">{% trans 'HPC___SOFTWARE___TABLE___INDEX' %}</th>
                <th width="80px">{% trans 'HPC___SOFTWARE___TABLE___SOFTWARE' %}</th>
                <th width="200px">{% trans 'HPC___SOFTWARE___TABLE___VERSIONS' %}</th>
                <th>{% trans 'HPC___SOFTWARE___TABLE___DESCRIPTION' %}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Application Content Center Content Pagination -->
    <div id="content___pagination">
    </div>
</div>
