{% load i18n %}
{% load staticfiles %}


<div class="container-fluid">
    <div id="footer__banner" class="row">
        <div id="social" class="col-md-4">
            <h5><b>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___SOCIAL___HEADER" %}</b></h5>
            <hr>
            <div id="share">
                <img src="{% static "application/website/img/logo/hpccuba-logo.jpg" %}" alt="Imagen logo">
                <a class="pull-right" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fportal.uclv.hpc.cu%2Fwebsite" target="_blank" title="Tweet this on Twitter"><span class="fa fa-2x fa-twitter-square"></span></a>
                <a class="pull-right" href="https://facebook.com/sharer.php?u=https%3A%2F%2Fportal.uclv.hpc.cu%2Fwebsite" target="_blank" title="Hpc uclv"><span class="fa fa-2x fa-facebook-square"></span></a>
                <a class="pull-right" href="https://plus.google.com/share?url=https%3A%2F%2Fportal.uclv.hpc.cu%2Fwebsite" target="_blank" title="Post this to Google+"><span class="fa fa-2x fa-google-plus-square"></span></a>
            </div>
        </div>
        <div id="support" class="col-md-4">
            <h5><b>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___SUPPORT___HEADER" %}</b></h5>
            <hr>
            <p>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___SUPPORT___TEXT1" %}: +53 42 281052</p>
            <p>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___SUPPORT___TEXT2" %}: soporteuclv@listas.hpc.cu</p>
        </div>
        <div id="developed" class="col-md-4">
            <h5><b>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___DEVELOPED___HEADER" %}</b></h5>
            <hr>
            <p>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___DEVELOPED___TEXT1" %}</p>
            {% now "l" as ctx___now_l %}
            {% now "j" as ctx___now_j %}
            {% now "F" as ctx___now_F %}
            {% now "Y" as ctx___now_Y %}
            <p>{% blocktrans %}APPLICATION___WEBSITE___CONTENT___FOOTER___DEVELOPED___TEXT2 {{ ctx___now_l }} {{ ctx___now_F }} {{ ctx___now_j }} {{ ctx___now_Y }}{% endblocktrans %}</p>
        </div>
    </div>
    <div id="footer__copyright" class="row">
        <span>{% trans "APPLICATION___WEBSITE___CONTENT___FOOTER___COPYRIGHT" %}</span><span class="pull-right">DI</span>
    </div>
</div>