{% load application___security %}
{% load i18n %}

{% if request|required_security_user %}
    <div id="leftside___user">
        <div id="user___img">
            <img src="{{ request|get_string_security_user_avatar_url }}" alt="..." class="img-circle"/>
        </div>
        <div id="user___text">
            <h4 id="text___welcome">{% trans "LEFTSIDE___WELCOME" %},</h4>

            <p id="text___name">{{ request|get_instance_security_user }}</p>
        </div>
    </div>
{% endif %}

<ul id="leftside___nav" class="nav">
    <li>
        {% url "website:modules:website_home:index" as url %}
        <a data-url="{{ url }}" class="LINK___content___center___reload {% if url == request|get_string_security_user_url_current %}active{% endif %}"><span class="fa fa-home fa-fw" aria-hidden="true"></span> {% trans "LEFTSIDE___HOMEPAGE" %}</a>
    </li>
    <li>
        {% url "website:modules:website_help:index" as url %}
        <a data-url="{{ url }}" class="LINK___content___center___reload {% if url == request|get_string_security_user_url_current %}active{% endif %}"><span class="fa fa-book fa-fw" aria-hidden="true"></span> {% trans "LEFTSIDE___HELP" %}</a>
    </li>
</ul>