{% load i18n %}
{% load application___hpc %}

<h3 id="center___header">
    <span class="fa fa-linode fa-fw" aria-hidden="true"></span> {% trans 'HPC___SOFTWARE___HEADER' %}
</h3>

<div id="center___content">
    <div id="software___content" class="container-fluid">
        <div id="software___request">
            <i class="fa fa-hand-o-right"></i>
            <span id="hpc_software_request" class="btn btn-link LINK___application___hpc___modal___reload" data-url="{% url "hpc:modules:hpc_software:request_software" %}">{% trans "HPC___SOFTWARE___REQUEST___LINK" %}</span>
        </div><br>
        <table id="software___datatable" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="30px">{% trans 'HPC___SOFTWARE___TABLE___INDEX' %}</th>
                    <th width="80px">{% trans 'HPC___SOFTWARE___TABLE___SOFTWARE' %}</th>
                    <th width="200px">{% trans 'HPC___SOFTWARE___TABLE___VERSIONS' %}</th>
                    <th>{% trans 'HPC___SOFTWARE___TABLE___DESCRIPTION' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for software in softwares %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ software.name }}</td>
                    <td>
                        {% for version in software.softwareversion_set.all %}
                            {{ version.version }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ software.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>$('#software___datatable').trigger('software')</script>