{% load i18n %}
{% load staticfiles %}

{% now "YmdHis" as ctx___now %}
<div class="form-group {% if ctx___field.errors %}has-error{% endif %}">
    <label for="{{ ctx___field.field.widget.attrs.id }}">{{ ctx___field.field.label }}:{% if ctx___field.field.required %} *{% endif %}</label>
    {{ ctx___field }}
    <div class="modal___form___field_image">
        <div class="modal___form___field_image___img" style="padding-bottom: 5px">
            <img id="{{ ctx___field.field.widget.attrs.img_upload_id }}" class="img-responsive" src="
                {% if ctx___form.errors %}
                    {{ ctx___instance_current.image.url }}
                {% elif ctx___instance.image %}
                    {{ ctx___instance.image.url }}
                {% else %}
                    {% static "apps/home/img/imagen_share.png" %}
                {% endif %}"/>
            <div class="clearfix"></div>
        </div>
        <div class="modal___form___field_image___button">
            <button type="button" id="{{ ctx___field.field.widget.attrs.button_upload_id }}" class="btn btn-default">
                <span class="glyphicon glyphicon-upload"></span> {% trans "APPLICATION___SECURITY___ACTION_UPLOAD" %}
            </button>
        </div>
    </div>
    {% if ctx___field.help_text %}
        <p class="help-block text-justify">{{ ctx___field.help_text }}</p>
    {% endif %}
    {% if ctx___field.errors %}
        <ul>
            {% for ctx___error in ctx___field.errors %}
                <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> {{ ctx___error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        var identifier___modal___form___field_image___id = "#{{ ctx___field.field.widget.attrs.id }}";
        var identifier___modal___form___field_image___img_upload_id = "#{{ ctx___field.field.widget.attrs.img_upload_id }}";
        var identifier___modal___form___field_image___button_upload_id = "#{{ ctx___field.field.widget.attrs.button_upload_id }}";

        $(identifier___modal___form___field_image___button_upload_id).click(function () {
            $(identifier___modal___form___field_image___id).click();
        });
        function ___JS___image___reload___(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(identifier___modal___form___field_image___img_upload_id).attr("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(identifier___modal___form___field_image___id).change(function () {
            ___JS___image___reload___(this);
        });
    });
</script>