@media (max-width: 767px) {
    .dataTables_wrapper > .dataTables_length > label {
        display: none
    }
}

.dataTables_wrapper > .dataTables_paginate>.pagination>li>a {
    background-color: #ffffff;
    border-color: #d9dee4;
    color: #2a3f54;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.dataTables_wrapper > .dataTables_paginate >.pagination>li>a:hover {
    background-color: #ededed;
}

.dataTables_wrapper > .dataTables_paginate>.pagination>li.active>a {
    background-color: #2a3f54;
    border-color: #2a3f54;
    color: #ffffff
}