{% load application___security %}
{% load i18n %}

{% if request|security_user_is_ldapuser_or_ldapuserimported %}
    <div id="leftside___user">
        <div id="user___img">
            <img src="{{ request|get_string_security_user_avatar_url }}" alt="..." class="img-circle"/>
        </div>
        <div id="user___text">
            <h4 id="text___welcome">{% trans "LEFTSIDE___WELCOME" %},</h4>

            <p id="text___name">{{ request|get_instance_security_user }}</p>
        </div>
    </div>

    <ul id="leftside___nav" class="nav">
        <li>
            {% url "bigdata:modules:bigdata_module01:index" as url %}
            <a data-url="{{ url }}" class="LINK___content___center___reload {% if url == request|get_string_security_user_url_current %}active{% endif %}"><span class="fa fa-cube fa-fw" aria-hidden="true"></span> {% trans "BIGDATA___LEFTSIDE___MODULE01" %}</a>
        </li>
    </ul>
{% endif %}