#application___website___content___footer {
    margin :auto 10px 0 10px;
    color  :white;
}

@media (max-width :767px) {
    #application___website___content___footer {
        margin        :auto 0 0 0;
        border-bottom :1px solid inherit;
    }
}

#application___website___content___footer #footer__banner {
    padding          :20px;
    background-color :#2a3f54;
}

#application___website___content___footer #footer__copyright {
    padding          :20px;
    background-color :#002E6D;
}

#application___website___content___footer #footer__banner > #social > #share > img {
    max-height       :35px;
    background-color :white;
    padding          :2px;
    border-radius    :3px
}

#application___website___content___footer #footer__banner > #social > #share > a {
    text-decoration :none;
    color           :white;
    padding         :0 0 0 3px;
}